body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #283048;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}

.region-select, .summoner-input, .tagline-input, .search-button {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.region-select {
    width: 120px;
}

.summoner-input, .tagline-input {
    width: 500px;
}

.search-button {
    width: 40px;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.search-button i {
    font-size: 18px;
}
